@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer {
  margin-top: 120px;
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  background-color: black;
  border-top: 1px solid #222;
 
}

.logo {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gradientText {
  line-height: 1.3;
  background: linear-gradient(270deg, #06b6d4, #3b82f6, #8b5cf6, #ec4899, #f59e0b, #06b6d4);
  background-size: 400% 400%;
  animation: gradient-flow 8s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.description {
  margin-top: 5px;
  color: #aaa;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.wrapper {
  width: 160px;
  margin-top: 20px;
}

.link {
  display: block;
  color: #bbb;
  font-size: var(--mantine-font-size-sm);
  padding: 3px 0;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.title {
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
  color: white;
  margin-bottom: 4px;
}

.afterFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  border-top: 1px solid #222;
}

.social {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .inner {
    flex-direction: column;
    align-items: center;
  }

  .groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .wrapper {
    width: 100%;
    text-align: center;
  }

  .afterFooter {
    flex-direction: column;
    text-align: center;
  }

  .social {
    margin-top: var(--mantine-spacing-xs);
  }
}
