.header {
  height: 56px;
  margin-bottom: 120px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
transition: 0.5s;
  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}
.dropdown {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-width: 0;
  overflow: hidden;
}

.dropdown .link {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.dropdown .link:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.dropdown .link[data-active] {
  background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-blue-9));
  color: var(--mantine-color-blue-filled);
}

.dropdown .link:last-child {
  border-bottom: none;
}