.card {
  background-color: black;
  border-color: black;
  margin: 2rem auto;
  width: 90%;
  max-width: 400px;
  border-radius: var(--mantine-radius-md);
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  color: white;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--mantine-radius-md);
  height: 90px;
  background-color: black;
  transition: box-shadow 150ms ease, transform 100ms ease;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--mantine-radius-md);
  height: 90px;
  background-color: black;
  color: white;
  transition: box-shadow 200ms ease, transform 150ms ease;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 0px ;
}



@media (max-width: 768px) {
  .item {
    height: 70px;
  }

  .card {
    margin: 1rem auto;
    width: 95%;
  }
}
